/* ALL IMAGES */
img {max-width: 100%;}

/* CHEF BOX IMG */
.box-img-chef {
    max-width: 75%;
    margin: 0 auto;
}

/* FOOD SECTION */
article.container-food {
    justify-content: space-between;
}

section.food-item {
    width: 23.56%;
    margin-bottom: 25px;
}

.footer-item {width: calc(100% / 3.3);}

@media screen and (width > 1210px) {
    header {
        max-width: 87%;
        margin: 0 auto;
    }
}